<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
      <%= link_to("Manga reader", root_path, class: "navbar-brand") %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="#">Каталог</a>
          </li>

          <% if has_access_to?(Web::ArtistsPolicy, :index) %>
            <li class="nav-item">
              <a class="nav-link" href="<%= artists_path %>">Артисты</a>
            </li>
          <% end %>
        </ul>

        <ul class="navbar-nav">
          <% if Current.user.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= Current.user.username %>
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <hr class="dropdown-divider">
                </li>
                <% if has_access_to?(Web::SignOutPolicy, :destroy) %>
                <li>
                  <%= link_to("Выйти", sign_out_path, method: :delete, class: "dropdown-item") %>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if has_access_to?(Web::SignInPolicy, :new) %>
            <li class="nav-item">
              <%= link_to("Войти", new_sign_in_path, class: "nav-link") %>
            </li>
          <% end %>

          <% if has_access_to?(Web::SignUpPolicy, :new) %>
            <li class="nav-item">
              <%= link_to("Регистрация", new_sign_up_path, class: "nav-link") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>