<!doctype html>
<html lang="en">
  <head>
    <%= stylesheet_pack_tag("application", media: "all") %>
    <%= javascript_pack_tag("application") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render(partial: "web/shared/header") %>

    <main>
      <div class="container my-3">
        <%= yield %>
      </div>
    </main>

    <%= render(partial: "web/shared/footer") %>
  </body>
</html>
